
@font-face {
	src: url(fonts/BankGothicRegular.ttf);
	font-family: BankGothic;
}
* {
	padding-top: 10px;
}

html {
	scroll-behavior: smooth;
	background-color: #000000;
}

body{
	font-family: BankGothic;
}

a {
	text-decoration: none;
	color: #000000;
}

/* Container */

.container {
	justify-content: center;
	justify-items: center;
	min-width: 1000px;
	min-height: 900px;
}

#message {
	align-self: center;
	text-align: center;
	font-size: 2rem;
}

.white {
	color: #FFFFFF;
}

.footer {
	align-self: end;
	font-size: 10px;
	text-align: center;
}
