

/*Page Container*/

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
	'welcome welcome welcome'
	'form form form'
	'footer footer footer';
	justify-content: space-between;
	align-content: center;
	grid-gap: 5px;
	align-items: center;
}

#info {
	grid-area: welcome;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 1vh 20vw 4.75vh 20vw;
	text-align: center;
	line-height: 2.5rem;
	font-size: 1.5rem;
	padding: 1rem;
}

#note {
	font-size: 1rem;
	line-height: 1.5rem;
	color: orangered;
}

#goButton {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4rem;
/*	padding-top: 1.25rem;
	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 15px;
	margin: 5vh 30vw;
	font-size: 2rem;
	cursor: pointer;
}

#goButton:hover {
	opacity: 0.8;
}

#goButton a {
	color: #000000;
}

.hidden {
	display: none;
}




 /*location buttons*/

#locations {
	display: block;
	margin: 5vh 30vw;
}

#locationSelection {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	grid-gap: 1rem;

}

#usa {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
/*	padding-top: 1.25rem;
	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2rem;
	cursor: pointer;
}
#usa a {
	size: 100;
}


#usa a p {
	color: #000000;
}

#usa:hover {
	opacity: 0.7;
}

/*#usa h2 {
	display: inline-block;
}*/
#china {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
/*	padding-top: 1.25rem;
	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2rem;
	cursor: pointer;
}
#china a {
	size: 100;
}


#china a p {
	color: #000000;
}

#china:hover {
	opacity: 0.7;
}

#search {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
/*	padding-top: 1.25rem;
	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2rem;
	cursor: pointer;
}
#search a {
	size: 100;
}


#search a p {
	color: #000000;
}

#search:hover {
	opacity: 0.7;
}




