/*Page Container*/

.grid-container {
	justify-content: space-between;
	align-content: center;
	grid-gap: 5px;
	align-items: center;
}

#info {
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 1vh 20vw 4.75vh 20vw;
	text-align: center;
	line-height: 3rem;
	font-size: 2rem;
	padding: 1rem;
}

#note {
	font-size: 1.5rem;
	line-height: 2rem;
	color: orangered;
}

#goButton {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4rem;
/*	padding-top: 1.25rem;
	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 15px;
	margin: 5vh 30vw;
	font-size: 2.5rem;
	cursor: pointer;
}

#goButton:hover {
	opacity: 0.8;
}

#goButton a {
	color: #000000;
}

.hidden {
	display: none;
}

 /*location buttons*/

#locations {
	display: block;
	margin: 5vh 40vw;
}

#locationSelection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	grid-gap: 1rem;
}

#usa {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
	padding-top: 2.25rem;
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2.5rem;
	cursor: pointer;
}
#usaButton {
	size: 100;
}

#usaButton p {
	color: #000000;
}

#usa:hover {
	opacity: 0.7;
}

#china {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
	padding-top: 2.25rem;
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2.5rem;
	cursor: pointer;
}
#chinaButton {
	size: 100;
}

#chinaButton p {
	color: #000000;
}

#china:hover {
	opacity: 0.7;
}

#search {
	background-color: #FFFFFF;
	width: 200px;
	height: 50px;
	color: #000000;
	padding: 2rem;
	padding-top: 2.25rem;
	text-align: center;
	border-radius: 15px;
/*	margin: 5vh 30vw;*/
	font-size: 2.5rem;
	cursor: pointer;
}

#searchButton {
	size: 100;
}

#searchButton p {
	color: #000000;
}

#search:hover {
	opacity: 0.7;
}




