
/*Page Container*/

.grid-container {
	justify-content: space-between;
	align-content: center;
	grid-gap: 5px;
	align-items: center;
}

#consoleBox {
	display: flex;
	justify-content: space-between;
	margin: 1vh 15vw;
}

#leftBox {
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	line-height: 2rem;
/*	font-size: 1.5rem;*/
	padding: 1rem;
}

#locationName {
	font-size: 1.5rem;
	align-self: center;
	text-align: center;
	margin-bottom: 5vh;
}

#locations {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	grid-gap: 50px;
}

#mapUsa {
	align-content: center;
	align-self: center;
	height: 450px;
	width: 450px;
}


#weatherUsa {
	text-align: center;
}


.consoleItem {
	color: #FF0000;
  font-size: 20px;
}


 /*other location buttons*/

#locationSelection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	grid-gap: 1rem;
	margin: 8vh 30vw;
}

.button {
	background-color: #FFFFFF;
	width: 120px;
	height: 40px;
	color: #000000;
	padding-top: 1rem;
/*	padding-bottom: 2rem;*/
	text-align: center;
	border-radius: 5px;
/*	margin: 5vh 30vw;*/
	font-size: 1.5rem;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

.button p {
	margin-top: 5px;
}

.button a {
	size: 100;
}

.button a p {
	color: #000000;
}

.button:hover {
	opacity: 0.7;
}
